body {
	margin: 0;
	font-family: 'Lucida Console';
	font-size: 15px;
	color: rgb(66, 27, 13);
	/* background-image: url(img/back1.jpg);
	background-repeat: no-repeat;
	background-position: center -178px; */
}

hr {
	border: 0;
	background-color: #91ba6f;
	height: 2px;
}

input[type=radio].hiddenRadio {
	display: none;
}

input[type=radio].hiddenRadio+label {
	display: inline-block;
	color: #fff;
	background-color: #91ba6f;
	margin: 2px;
	padding: 3px 2px;
	border: 1px solid #7aa359;
	width: 105px;
	font-size: 12px;
	
}

input[type=radio].hiddenRadio:hover+label {
	color: #91ba6f;
	background-color: #fff;
}

input[type=radio].hiddenRadio:checked+label {
	color: #7aa359;
	background-color: #f8e961;
	transition-duration: 300ms;
}

button {
	color: #fff;
	background-color: #91ba6f;
	margin: 2px;
	border: 1px solid #7aa359;
	/* padding: 6px 10px; */
	/* width: 100px; */
	/* height: 22px; */
}

button:hover {
	color: #91ba6f;
	background-color: #fff;
}

.button_pressed {
	color: #fff;
	background-color: #ba996f;
}

#bodyDiv {
	width: 1000px;
	background-color: #E5E5E5;
	position: relative;
	margin: 0px auto;
}

#workspace {
	position: relative;
	height: 900px;
}

.body__content {
	position: absolute;
	z-index: 2;
	text-align: left;
	background-color: rgb(243, 243, 243);
	padding: 0px;
	border: 0px solid rgba(45, 18, 9, 0.8);
}

#formPreview {
	left: 20px;
	top: 20px;
	width: 440px;
	height: 860px;
	background-color: rgb(250, 250, 250);
}

#renderHere button {
	color: #fff;
	background-color: #ba6fa1;
	margin: 0px;
	padding: 0px 2px;
	border: 1px solid #7aa359;
	font-size: 10px;
	/* width: 100px; */
	height: 100%;
}

#renderHere button:hover {
	color: #91ba6f;
	background-color: #fff;
}

#renderHere div {
	display: inline-block;
	position: absolute;
	right: 0px;
}

#renderHere {
	height: 500px;
	overflow: auto;
}

/* #renderHere span {
	display: inline-block;
	width: 80px;
} */

#codeHere {
	bottom: 0px;
	height: 256px;
	overflow: auto;
	z-index: 0;
	background-color: rgb(236, 236, 236);
}

code {
	font-size: 10px;
}

#formSettings {
	right: 20px;
	top: 20px;
	width: 500px;
	height: 300px;
	background-color: rgb(250, 250, 250);
}

#formConstruct {
	right: 20px;
	bottom: 20px;
	width: 500px;
	height: 540px;
	background-color: rgb(250, 250, 250);
}

#constructButtonsForm {
	left: 6px;
	position: relative;
}

#formConstructArea {
	height: 323px;
	/* background-color: rgb(236, 236, 236); */
}

.spacer {
	height: 100px;
	width: 1000px;
	position: relative;
	z-index: 1;
	background-color: rgba(255, 255, 255, 1.0);
}

.form__text {
	display: inline-block;
	width: 140px;
	margin: 5px 5px;
	text-align: left;
}

.form__input {
	display: inline-block;
	/* border: 1px solid #6699ff; */
	margin: 5px 10px;
	width: 50%;
}

/* ////////////////////////////// */

a {
	text-decoration: none;
	color: #fff;
}